FIREBASE_PROJECT_ID=ing-web-93d49
PERSONAS_COLLECTION=personas
FIREBASE_CREDENTIALS_PATH=./firebase-service-account.json
# En Render, usa FIREBASE_CREDENTIALS_JSON con el contenido completo del JSON
# CORS_ORIGINS=https://ejercicio2-web.onrender.com
